{% extends 'base.html' %}
{% block title %}個人資訊{% endblock %}
{% block content %}
<h1>Profile</h1>
<!-- 是否認證過 -->
{% if user.is_authenticated %}
<h2>{{user.username}}</h2>

<li style="list-style: none;">註冊日期:{{user.date_joined}}</li>
<li style="list-style: none;">信箱:{{user.email}}</li>
<li style="list-style: none;">管理員:
    {% if user.is_superuser %}
    是
    {% else %}
    否
    {% endif %}
</li>
<li style="list-style: none;">最後登入時間:{{user.last_login}}</li>
{% else %}
<p><a href="{% url 'login' %}">請先登入</a></p>
{% endif %}
{% endblock %}